
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #222831;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/" style="color: #DDDDDD;">
          <img src="/images/favicon-32x32.png" class="logo"/>
          Movie Recommender
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Movies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/shows">TV Shows</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/music">Music</a>
            </li>

          </ul>

        </div>
      </div>

    </nav>
