body{
  font-family: "Montserrat";
  text-align: center;
  padding-top: 7rem;
  background-color: #DDDDDD;
}

h2{
  font-weight: 900;
  color: #222831;
  text-align: center;
  padding-top: 15rem;
}

.btn-form{
  background-color: #222831;
  color: #DDDDDD !important;
  font-family: "Montserrat";
  padding: 2px 10px;
  border-radius: 4px;
}

.btn-form:hover{
  background-color: #222831;
  color: #F05454 !important;
}

/* navbar */
.navbar{
  padding-bottom:0.5rem;
}
.navbar-brand{
  font-family: "Montserrat" !important;
  font-size: 2rem;
  font-weight: 500;
}

.navbar-brand:hover{
  font-weight: 800;
}

.nav-link{
  font-family: "Montserrat" !important;
  color: #DDDDDD !important;
  font-size: 1.2rem;
  font-weight: 100;
  text-align: right;
}
.nav-link:hover{
  color: #F05454 !important;
}

.nav-item{
  padding: 0 18px;
}

.navbar-toggler-icon{
  color: #DDDDDD !important;
}

/* cards */

.row{
  padding-left: 6rem ;
  padding-right: 6rem;
}
.col{
  padding-bottom: 3rem;
}
.card{
  padding: 1rem 1rem;
  /* width: 20rem;
  height: 26rem; */
}
.card-title{
  font-size: 2.2rem;
  font-weight: 500;
  color: #F05454;
}

.card-text{
  color: #222831;
  font-size: 0.8rem;
}


.btn{
  color: #DDDDDD;
  background-color: #F05454;
  border: none;
}
.btn:hover{
  background-color: white;
  border: solid #F05454;
  color: #F05454;
}



/* footer */
.footer{
  left: 0;
  bottom: 0;
  position: fixed;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
  width: 100%;
  color: #DDDDDD;
  background-color: #222831;
}
